<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(task.errors.count, "error")%><%= t('forms.error_sentence')%>
      </h2>

      <ul>
        <% task.errors.full_messages.each do |error| %> 
          <li><%= error %></li> 
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, t('forms.field_label.title'), style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  
  <div>
    <%= form.label :content, t('forms.field_label.content'), style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :status, t('forms.field_label.task_status'), style: "display: block" %>
    <%= form.select :status, Task.i18n_stages, { class: "form-control" } %> 
  </div>

  <div>
    <%= form.label :priority, t('forms.field_label.priority'), style: "display: block" %>
    <%= form.select :priority, Task.i18n_prior, { class: "form-control" } %> 
  </div>

  <div>
    <%= form.label :endtime, t('forms.field_label.endtime'), style: "display: block" %>
    <%= form.date_field :endtime%>
  </div>

  <div>
    <%= form.submit t('forms.button.submit')%>
  </div>
<% end %>
