<div id="<%= dom_id task %>">
  <p>
    <strong><%= t('forms.field_label.title')%>:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong><%= t('forms.field_label.content')%>:</strong>
    <%= task.content %>
  </p>

  <p>
    <strong><%= t('forms.field_label.status')%>:</strong>
    <%= I18n.t task.status, scope: [:forms,:enum, :status_enum] %>
  </p>

  <p>
    <strong><%= t('forms.field_label.priority')%>:</strong>
    <%= I18n.t task.priority, scope: [:forms, :enum, :priority_enum] %>
  </p>
  <p>
    <strong><%= t('forms.field_label.endtime')%>:</strong>
    <%= task.endtime %>
  </p>

</div>
