<div id="<%= dom_id task %>">
  <p>
    <strong><%= t('forms.field_label.title')%>:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong><%= t('forms.field_label.content')%>:</strong>
    <%= task.content %>
  </p>

  <p>
    <strong><%= t('forms.field_label.endtime')%>:</strong>
    <%= task.endtime %>
  </p>

</div>
