<p style="color: green"><%= notice %></p>

<h1><%= t('page_title.tasklist') %></h1>

<table id="tasks">
  <thead>
    <th><%= t('forms.field_label.title')%></th>
    <th><%= t('forms.field_label.content')%></th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= link_to task.title, task %>
        </td>
        <td>
          <%= task.content %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('forms.button.new'), new_task_path %>
