<p style="color: green"><%= notice %></p>

<h1><%= t('page_title.tasklist') %></h1>

<%= render "search_form", task: @task %>

<span>
  <%= sort_link(@q, :created_at, default_order: :desc) do %>
    <strong><%=t('sort.created_at')%></strong>
  <% end %>
</span>

<table id="tasks">
  <thead>
    <th><%= t('forms.field_label.title')%></th>
    <th><%= t('forms.field_label.content')%></th>
    <th><%= t('forms.field_label.task_status')%></th>
    <th><%= t('forms.field_label.endtime')%></th>

  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= link_to task.title, task %>
        </td>
        <td>
          <%= task.content %>
        </td>
        <td>
          <%= task.translated_status%>
        </td>
        <td>
          <%= task.endtime %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('forms.button.new'), new_task_path %>
