<p style="color: green"><%= notice %></p>
<h1><%= t('page_title.show_task')%></h1>

<%= render @task %>

<div>
  <%= link_to t('forms.button.edit'), edit_task_path(@task) %> 
  <br/>
  <%= link_to t('forms.button.goback'), tasks_path %>
  <br/>
  <%= button_to  t('forms.button.destroy'), @task, method: :delete %>
</div>
