<div class="flex items-center	justify-between	">
  <h1 class="text-3xl font-normal leading-normal mt-0 mb-2 text-pink-800"><%= t('page_title.show_task')%></h1>
  <div class="flex">
    <%= link_to tasks_path, class:"text-pink-500 border border-pink-500 hover:bg-pink-500 hover:text-white active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" do%>
    <i class="fa-regular fa-circle-left">  <%=t('forms.button.goback')%></i>
    <% end %>
  </div>
</div>


<div class="flex justify-center">
  <div class="grid justify-items-center max-w-[600px] w-full">
    <% if notice %>
      <div class="text-pink-500 px-6 py-4 border-2 rounded relative mb-4 border-pink-500 w-full">
        <i class="fa-solid fa-circle-check"></i>      
        <b class="capitalize"><%= notice %></b>
        </span>
      </div>
    <% end %>
    <%= render @task %>
    <div class="flex my-6 justify-between w-full">
      <%= link_to edit_task_path(@task),class:"bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" do %> 
        <i class="fa-solid fa-pen-to-square"><%= t('forms.button.edit')%></i>
      <% end %>
      
      <%= button_to @task, method: :delete, class:"bg-red-500  text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" do %>
        <i class="fa-solid fa-trash"> <%= t('forms.button.destroy')%></i>
      <% end %>

    </div>
  </div>
</div>