<p style="color: green"><%= notice %></p>
<h1><%= t(:show_task)%></h1>

<%= render @task %>

<div>
  <%= link_to t(:edit), edit_task_path(@task) %> 
  <br/>
  <%= link_to t(:goback), tasks_path %>
  <br/>
  <%= button_to  t(:destroy), @task, method: :delete %>
</div>
